/* Global resets to ensure layout takes full screen */
html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: oklch(95% 0.01 300);
}
